# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
**/node_modules
**/node_modules/*

# testing
coverage
cucumber-report.html

# production
**/build
**/dist/

# misc
.idea
.http/
.DS_Store
.http
.env
.env.prod
.eslintcache

npm-debug.log*
yarn-debug.log*
yarn-error.log*

secrets.json
.serverless

*.tfplan
*.lock.hcl
.terraform
terraform.tfstate
terraform.tfstate.backup
*.tfvars
!*.tfvars.example

archive.zip

*.tsbuildinfo

.builds
.packages
.layers

builds.tar.gz
packages.tar.gz

.package.json
.package-module.json
.unused.log
.claude/
